:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --link-color: #000000;
    --link-bg-color: #e9e9e9;
    --input-bg-color: #ffffff;
    --toggle-bg-color:#ffffff;
    --label-bg-color:#e9e9e9;
    --border-color:#b7bec6;
}  
[data-theme="dark"] {
    --background-color: #242424;
    --text-color: #ffffff;
    --link-color: #ffffff;
    --link-bg-color: #343434;
    --input-bg-color: #343434;
    --toggle-bg-color:#939393;
    --label-bg-color:#343434;
    --border-color:#939393;
}
[data-theme="dark"] .input-area {
    margin-top: 50px;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--link-color);
}  
i{
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
}
nav a:hover{
    text-decoration: underline;
    transition: 0.2s;
}
nav a,i {
    margin-left: 30px;
}
.add-point{
    display: flex;
}
.add-point>span{
    margin-left: 10px;
}
/* 기본 스타일 */
.toggle-container {
    position: relative;
    width: 60px;
    height: 30px;
}
.toggle-container>input{
    display: none;
}
.toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--label-bg-color);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
.toggle-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: var(--toggle-bg-color);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
  /* 체크 상태일 때 */
#theme-toggle:checked + .toggle-label {
    background-color: #343434;
}
  
#theme-toggle:checked + .toggle-label .toggle-icon {
    left: calc(100% - 25px);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
main > div{
    margin-top: 10px;
    margin-bottom: 40px;
}
main input{
    width: 746px;
    height: 48px;
    border-radius: 48px;
    outline: none;
    border: 1px solid var(--border-color);
    padding-left: 45px;
    background-color: var(--input-bg-color);
}
.input-area{
    position: relative;
}
.input-area>:first-child{
    position: absolute;
    top: 20px;
    left: -10px;
    color: var(--border-color);
}
.input-area>:last-child{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--border-color);
}
.button-area{
    width: 340px;
    display: flex;
    justify-content: space-around;
}
/* 버튼 영역 수정 */
.button-area a {
    background-color: var( --link-bg-color);
    padding: 10px 20px;
    border-radius: 0.5em;
    color: var(--button-text-color);
  }
.button-area a:hover{
    scale: 103%;
    transition: 0.3s;
    border: 1px solid var(--border-color);
}
main>:last-child>i{
    margin-right: 10px;
    cursor: default;
}
main>:last-child>a{
    color: var(--button-text-color);
    margin-left: 10px;
}
main>:last-child>a:hover{
    text-decoration: underline;
    transition: 0.2s;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* 푸터 영역 수정 */
footer > div {
    background-color: var( --link-bg-color);
  }
  
footer>:first-child{
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid var(--border-color);
}
footer>:last-child{
    width: 100%;
    padding: 15px 20px;
}
.link-area {
    display: flex;
    justify-content: space-between;
}
.link-area>:first-child>a{
    margin-right: 10px;
}
.link-area>:last-child>a{
    margin-left: 10px;
}
/* 링크 영역 수정 */
.link-area a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
  }
